%p
  %a{:href => "http://www.tlmat.unican.es"}
    %img{:alt => "GIT logo", :src => "http://www.tlmat.unican.es/images/logoGIT_text_es.jpg"}  

%h3.page_title Environment Configuration
.back_link
  = link_to help_path do
    &larr; to index
%hr

%ul
  %li
    %h5= link_to "Windows 7", help_windows_conf_path

  %li
    %h5= link_to "Linux (using Ubuntu 11.10 as example)", help_linux_conf_path